@charset "UTF-8";
/* VARIABLES*/
@media (min-width: 320px) {
  .headerDiv {
    padding-top: 15px;
    padding-left: 5px; }
    .headerDiv #Logo {
      color: #fd0061;
      font-family: "Lobster", cursive;
      font-size: 30px; }
  .redesSociales {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: end;
    padding-left: 40px; } }

@media (min-width: 720px) {
  header {
    width: 100%;
    height: 130px;
    grid-area: header;
    display: flex;
    justify-content: space-between; }
    header .headerDiv #logoHead {
      padding-top: 30px;
      padding-left: 50px; }
      header .headerDiv #logoHead #Logo {
        font-size: 50px;
        font-family: "Lobster",cursive;
        color: #fd0061; }
    header .redesSociales {
      display: flex;
      flex-direction: row;
      padding-top: 25px;
      justify-content: end; }
      header .redesSociales .tamañoRedes {
        width: 45px;
        height: 45px; } }

/* MAP */
/* MIXIN */
@media (min-width: 320px) {
  .navegacionGrande {
    display: none; }
  #navPantallaChica .navbar {
    height: 60px;
    display: flex; }
    #navPantallaChica .navbar .formularioNav {
      padding-top: 10px;
      padding-bottom: 30px; }
      #navPantallaChica .navbar .formularioNav .form-control {
        border: #fd0061 solid 2px;
        border-radius: 2em;
        text-align: center; }
      #navPantallaChica .navbar .formularioNav .botonNav {
        border: #fd0061 solid 2px;
        color: #fd0061;
        background-color: #fff;
        border-radius: 4em; }
    #navPantallaChica .navbar #offcanvasNavbarLabel {
      color: #fff;
      font-family: "Comic", cursive; }
    #navPantallaChica .navbar .bgColor {
      background-image: linear-gradient(to left, #5a5a6d, #805b80); }
    #navPantallaChica .navbar .nav-link {
      text-decoration: none;
      font-family: "Comic", cursive;
      color: #fff;
      text-align: center; }
  .encabezadoSection {
    color: #fd0061;
    letter-spacing: 2px;
    font-family: "Comic", cursive;
    text-align: center;
    background-color: #fff; }
  .encabezadoDestacados {
    text-align: center;
    padding-top: 20px;
    color: #f8f12a;
    text-decoration: underline; }
  #carouselExampleFade {
    padding-top: 50px; }
  .body-destacados {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "talle boton" "color boton";
    background-image: linear-gradient(to right, #da3b3b, violet);
    font-size: 12px; }
    .body-destacados .labelTalles {
      grid-area: talle;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 5px; }
    .body-destacados .labelColor {
      grid-area: color;
      display: flex;
      justify-content: center;
      align-items: center; }
    .body-destacados .botonComprar {
      grid-area: boton;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%; }
      .body-destacados .botonComprar .btn-light {
        border: #fd0061 solid 3px;
        width: 65px;
        height: 30px;
        font-size: 8.2px; }
  .quienesSomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .quienesSomos .parrafoQuienes {
      padding: 10px 5px 0px 5px;
      color: #fff; }
      .quienesSomos .parrafoQuienes a {
        text-decoration: none;
        color: #fff; }
        .quienesSomos .parrafoQuienes a:hover {
          color: yellowgreen; }
    .quienesSomos iframe {
      width: 100%;
      height: 350px;
      border: #e44545 3px solid; }
  #cardColeccion {
    width: 220px; }
  .botonBatman {
    background-image: linear-gradient(to right, black, grey);
    color: #fff; }
  .botonSimpsons {
    background-image: linear-gradient(to right, #90adf7, #90adf7, #fdfd2a);
    color: #fdfd2a; }
  .botonAnime {
    background-image: linear-gradient(to right, white, white, red);
    color: red; }
  .accordionBatman {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, black, grey);
    justify-content: center;
    align-items: center; }
  .accordionSimpsons {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #90adf7, #90adf7, #fdfd2a);
    justify-content: center;
    align-items: center; }
  .accordionAnime {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, white, white, red);
    justify-content: center;
    align-items: center; }
  .cardContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .cardContacto .responsiveC, .cardContacto .cartaC--Num, .cardContacto .cartaC--Face, .cardContacto .cartaC--Ins {
      width: 300px !important;
      height: 200px !important;
      margin: 15px 0px 15px 0px;
      color: #fff;
      background-color: #25d366; }
      .cardContacto .responsiveC a, .cardContacto .cartaC--Num a, .cardContacto .cartaC--Face a, .cardContacto .cartaC--Ins a {
        color: #fff;
        text-decoration: none; }
    .cardContacto .cartaC--Num {
      background-color: #cc0000; }
    .cardContacto .cartaC--Face {
      background-color: #1877f2; }
    .cardContacto .cartaC--Ins {
      background-color: #e1306c; }
  .sectionDiseño {
    color: #fff; }
    .sectionDiseño .diseñoParrafo {
      padding: 0px 10px 0px 10px; }
  .containerForm {
    padding: 50px 80px 0px 80px;
    color: #fff; }
  .borderForm {
    border: #fd0061 solid 2px; }
  .form-select {
    margin-left: 10px; }
  .responsiveForm {
    flex-direction: column; }
    .responsiveForm .textareaR {
      border: #fd0061 solid 2px; }
  .btn-primary {
    background-color: #fff;
    color: #fd0061;
    border: #fd0061 3px solid; }
    .btn-primary:hover {
      background-color: #fd0061;
      color: #fff;
      border: #fff 2px solid; } }

@media (min-width: 720px) {
  main {
    grid-area: main;
    grid-template-columns: auto;
    grid-template-rows: 100px auto;
    grid-template-areas: "nav section"; }
    main #navPantallaChica {
      display: none; }
    main .navegacionGrande {
      grid-area: nav;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 20px 0px 20px 0px; }
      main .navegacionGrande .hrefNav {
        text-decoration: none;
        padding-top: 5px;
        margin-right: 20px;
        height: 30px;
        width: 100%;
        color: #fff;
        letter-spacing: 2px;
        font-size: 16px;
        transition: 1s;
        text-align: center; }
        main .navegacionGrande .hrefNav:hover {
          background: #fd0061;
          box-shadow: 0 0 10px #fd0061, 0 0 40px #fd0061, 0 0 80px #fd0061; }
    main section {
      grid-area: section;
      width: 100%;
      margin-bottom: 120px; }
      main section .encabezadoSection {
        color: #fd0061;
        letter-spacing: 2px;
        font-family: "Comic", cursive;
        text-align: center;
        background-color: #fff; }
    main .encabezadoDestacados {
      padding: 40px 0px 20px 0px;
      color: #f8f12a;
      text-decoration: underline; }
    main #carouselExampleFade {
      padding-top: 50px; }
    main .body-destacados {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      grid-template-areas: "talle color" "boton boton";
      background-image: linear-gradient(to right, #da3b3b, violet);
      font-size: 18px; }
      main .body-destacados .labelTalles {
        grid-area: talle;
        display: flex;
        justify-content: center;
        align-items: center; }
        main .body-destacados .labelTalles label {
          padding-right: 10px; }
        main .body-destacados .labelTalles select,
        main .body-destacados .labelTalles option {
          font-size: 12px; }
      main .body-destacados .labelColor {
        grid-area: color;
        display: flex;
        justify-content: center;
        align-items: center; }
        main .body-destacados .labelColor label {
          padding-right: 10px; }
        main .body-destacados .labelColor select,
        main .body-destacados .labelColor option {
          font-size: 12px;
          padding-left: 5px;
          padding-right: 3px; }
      main .body-destacados .botonComprar {
        grid-area: boton;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5px; }
        main .body-destacados .botonComprar .btn-light {
          border: #fd0061 solid 3px;
          width: 85px;
          height: 40px;
          font-size: 13px; }
          main .body-destacados .botonComprar .btn-light:hover {
            background-color: #fd0061;
            color: #fff; }
  .quienesSomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .quienesSomos .parrafoQuienes {
      padding: 40px 100px 20px 100px;
      color: #fff; }
      .quienesSomos .parrafoQuienes a {
        text-decoration: none;
        color: #fff; }
        .quienesSomos .parrafoQuienes a:hover {
          color: yellowgreen; }
    .quienesSomos iframe {
      width: 450px;
      height: 350px;
      border: #e44545 3px solid; }
  #cardColeccion {
    width: 320px; }
  .botonBatman {
    background-image: linear-gradient(to right, black, grey);
    color: #fff; }
  .botonSimpsons {
    background-image: linear-gradient(to right, #90adf7, #90adf7, #fdfd2a);
    color: #fdfd2a; }
  .botonAnime {
    background-image: linear-gradient(to right, white, white, red);
    color: red; }
  .accordionBatman {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, black, grey); }
  .accordionSimpsons {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, #90adf7, #90adf7, #fdfd2a); }
  .accordionAnime {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, white, white, red); }
  .cardContacto {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "wp num" "insta face";
    gap: 10px;
    justify-content: center;
    align-items: center; }
  .cartaC, .cartaC--Num, .cartaC--Ins, .cartaC--Face {
    margin: 10px 0px 10px 0px;
    color: #fff;
    background-color: #25d366;
    grid-area: wp; }
    .cartaC a, .cartaC--Num a, .cartaC--Ins a, .cartaC--Face a {
      color: #fff; }
  .cartaC--Num {
    background-color: #cc0000;
    grid-area: num; }
  .cartaC--Ins {
    background-color: #e1306c;
    grid-area: insta; }
  .cartaC--Face {
    background-color: #1877f2;
    grid-area: face; }
  .sectionDiseño {
    color: #fff; }
  .containerForm {
    padding: 50px 80px 0px 80px;
    color: #fff; }
  .borderForm {
    border: #fd0061 solid 2px; }
  .form-select {
    margin-left: 10px; }
  .btn-primary {
    background-color: #fff;
    color: #fd0061;
    border: #fd0061 3px solid; }
    .btn-primary:hover {
      background-color: #fd0061;
      color: #fff;
      border: #fff 2px solid; } }

footer {
  grid-area: footer;
  font-family: "Comic", cursive;
  font-size: 13px;
  margin-bottom: 90px; }
  footer .fuenteFooter {
    text-decoration: none;
    font-size: 14px; }

@media (min-width: 320px) {
  body {
    background-image: linear-gradient(to top, #8e93dd, #b8beca);
    display: flex;
    flex-direction: column; } }

@media (min-width: 720px) {
  body {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 12% auto auto auto;
    grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer";
    background-image: linear-gradient(to top, #e66d6d, #6b69e8);
    font-family: "Comic", cursive; } }
