footer {
    grid-area: footer;
    font-family: "Comic", cursive;
    font-size: 13px;
    margin-bottom: 90px;
    .fuenteFooter {
      text-decoration: none;
      font-size: 14px;
      }
    }
  
  