/* VARIABLES*/
$colorRosa: #fd0061;
$tipografiaGral:"Comic",cursive;
$anime: linear-gradient(to right, white,white, red);
$simpsons: linear-gradient(to right, rgb(144, 173, 247),rgb(144, 173, 247), rgb(253, 253, 42));
$batman: linear-gradient(to right, black, grey);