
@import "variables";
@import "header";
@import "main";
@import "footer";


@media (min-width: 320px){
    body{
        background-image: linear-gradient(to top, rgb(142, 147, 221), rgb(184, 190, 202));
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 720px){
    body{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 12% auto auto auto;
    grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer";
    background-image: linear-gradient(to top, rgb(230, 109, 109), rgb(107, 105, 232));
    font-family: $tipografiaGral;     
     }
}











    


